@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Inter&family=Lato:ital,wght@0,400;0,700;1,400&family=Manrope:wght@400;500&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,500&family=Work+Sans&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.btn {
    margin-top: auto;
    width: 90%;
    color: white
}


@tailwind base;
@tailwind components;
@tailwind utilities;